/* Estilos para el contenedor principal */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

/* Estilos para la galería de imágenes */
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Estilos para los contenedores de las imágenes */
.image-container {
  width: 120px;
  height: 600px; /* Aumentamos la altura de las imágenes */
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

/* Estilos para las imágenes */
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Hacemos que la imagen ocupe todo el espacio disponible del contenedor */
 /*  cursor: pointer; */
  transition: width 0.3s ease; /* Añadimos una transición de transformación */
}

/* Efecto de hacer más ancha al pasar el cursor sobre las imágenes */
.image-container:hover img {
  width: 300px; /* Aumentamos la escala horizontal de la imagen */
  /* width: 150%; */
   cursor: pointer;
/*    z-index: 1; */
}

/* Estilos para la superposición de las imágenes */
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Estilos para los títulos de las imágenes */
.image-title {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

/* Animación para mostrar el título al pasar el cursor sobre la imagen */
.image-container:hover .image-overlay {
  opacity: 1;
}
